<div class="container-fluid">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="dropdown-toggle clearfix" data-toggle="dropdown" role="button" aria-expanded="false">
					<img class="icon pull-left" ng-show="device.icons[0].url" ng-src="{{ device.icons[0].url }}" />
					<h2 class="active-device-header pull-left">
						<span>{{device.name}}</span>
						<span class="caret"></span>
					</h2>
				</div>
				<div class="list-group dropdown-menu pull-left" role="menu">
					<device-list></device-list>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbar-content">
				<playback></playback>
				<ul class="nav navbar-nav navbar-right">
					<li> <a href="/about" class="nav navbar-nav navbar-right">About</a> </li>
				</ul>
			</div>
		</div>
	</nav>
	<playlist></playlist>
	<device-info></device-info>
	<connection-manager></connection-manager>
</div>