<a ng-href="#/device/{{device.id}}" ng-class="{active : device.id === deviceId}" class="list-group-item" ng-repeat="device in devices | filter:selectedType | orderBy:'type'" id="{{ device.id }}">
	<div class="media-body">
		<h4 class="list-group-item-heading">{{ device.name }}</h4>
		<p class="list-group-item-text">
			<em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
		</p>
		<span class="capabilities">
			<span class="fa fa-server" ng-show="device.isServer"></span>
			<span class="glyphicon glyphicon-headphones" ng-show="device.audioCapable"></span>
			<span class="glyphicon glyphicon-film" ng-show="device.videoCapable"></span>
			<span class="glyphicon glyphicon-picture" ng-show="device.imageCapable"></span>
			<span class="glyphicon glyphicon-blackboard" ng-show="device.mirrorCapable"></span>
			<span class="icon-router" ng-show="device.isRouter"></span>
		</span>
	</div>
	<span class="media-right media-middle">
		<img class="icon" ng-src="{{ device.icons[0].url }}" />
	</span>
</a>