<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-expanded="false">
					<img class="icon pull-left" ng-show="activeDevice.icons[0].url" ng-src="{{ activeDevice.icons[0].url }}" />
					<h2 class="active-device-header pull-left">
						<span>{{activeDevice.name}}</span>
						<span class="caret"></span>	
					</h2>
                </span>
                <div class="list-group dropdown-menu pull-left" role="menu">
                    <a ng-href="#/device/{{device.id}}" ng-click="setActiveDevice(device)" ng-class="{active : device === activeDevice}" class="list-group-item" ng-repeat="device in devices | filter:selectedType | orderBy:'type'" id="{{ device.id }}">
                        <span class="media-body">
                            <h4 class="list-group-item-heading">{{ device.name }}</h4>
                            <p class="list-group-item-text">
                                <em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
                            </p>
                            <span class="capabilities">
                            <span class="glyphicon glyphicon-headphones" ng-show="device.audioCapable"></span>
                            <span class="glyphicon glyphicon-film" ng-show="device.videoCapable"></span>
                            <span class="glyphicon glyphicon-picture" ng-show="device.imageCapable"></span>
                            <span class="glyphicon glyphicon-blackboard" ng-show="device.mirrorCapable"></span>
                            </span>
                        </span>
                        <span class="media-right media-middle">
                        <img class="icon" ng-src="{{ device.icons[0].url }}" />
                    </span>
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-content">
                <div class="btn-group" role="group">
                    <button type="button" ng-class="{disabled : activeFile == null }" ng-click="previous()" class="btn btn-default glyphicon glyphicon-backward"></button>
                    <button type="button" ng-class="{disabled : activeFile == null }" ng-click="play()" class="btn btn-default glyphicon glyphicon-play"></button>
                    <button type="button" ng-class="{disabled : activeFile == null }" ng-click="pause()" class="btn btn-default glyphicon glyphicon-pause"></button>
                    <button type="button" ng-class="{disabled : activeFile == null }" ng-click="next()" class="btn btn-default glyphicon glyphicon-forward"></button>
                    <button type="button" ng-class="{disabled : activeFile == null }" ng-click="stop()" class="btn btn-default glyphicon glyphicon-stop"></button>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{activeFile.currentTimeInSeconds}}" aria-valuemin="0" aria-valuemax="{{activeFile.durationInSeconds}}" style="width: {{currentFilePercent()}}%;">
                    <span class="sr-only">{{activeFile.currentTimeInSeconds}} seconds in</span>
                  </div>
                </div>
                <div class="file-time">
                    <span>{{activeFile.currentTime}}</span>
                    <span>/</span>
                    <span>{{activeFile.duration}}</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" class="nav navbar-nav navbar-right">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div class="row">
        <div class="container col-md-2">
            <ul class="playlist list-group">
                <li class="playlist-title list-group-item clearfix">
                    <span class="pull-left">Playlist</span>
                    <span class="glyphicon pointer pull-right" ng-class="{'glyphicon-minus': filePickerOpen, 'glyphicon-plus': !filePickerOpen}" ng-click="filePickerOpen = !filePickerOpen"  data-target="#add-file" data-toggle="collapse" aria-expanded="false" aria-controls="add-file"></span>
                </li>
                <li class="list-group-item no-padding">
                    <div class="collapse" id="add-file">
                        <div class="clearfix list-padding">
                            <div class="form-group">
                                <label>Enter URL</label>
                                <div><input class="form-control" type="url" ng-value="filePicker.url.path" /></div>
                            </div>
                            <div class="form-group">
                                <label>Choose File</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="pickLocalFile()" type="button">Browse</button>
                                    </span>
                                    <input type="text" ng-value="filePicker.localFile.path" class="form-control" /> <!-- make readonly but don't apply readonly styles -->
                                </div>
                            </div>
                            <div class="form-group pull-right">
                            <button type="button" data-toggle="collapse" data-target="#add-file" class="btn btn-default" ng-click="launch(); filePickerOpen = false;">Play</button>
                            <button type="button" class="btn btn-default" ng-click="addToPlaylist()">Add To Playlist</button>                                
                        </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{active : file === activeFile}" ng-dblclick="launch(file)" class="list-group-item playlist-item clearfix" ng-repeat="file in playlist">
                    <!--todo: show buttons only on hover -->
                    <!--todo: add handle to drag and drop reorder -->
                    <h4 class="list-group-item-heading pull-left">{{ file.name }}</h4>
                    <button type="button" ng-click="removeFromPlaylist(file)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>                    
                </li>
                <li class="playlist-footer list-group-item clearfix">
                    <button class="btn btn-default pull-left" ng-click="clearPlaylist()">Clear Playlist</button>
                    <span class="pull-right glyphicon glyphicon-repeat pointer"></span>
                    <span class="pull-right glyphicon glyphicon-random pointer" ng-click="randomizePlaylist()"></span>
                </li>
            </ul>
        </div>
        <div class="container col-md-10">
            <div class="media">
                <div class="media-left media-top">
                    <img class="icon" ng-show="activeDevice.icons[0].url" ng-src="{{ activeDevice.icons[0].url }}" />
                </div>
                <div class="media-body">
                    <h1 class="active-device-header">
                        <a ng-href="{{activeDevice.webPage}}" ng-show="activeDevice.webPage">{{activeDevice.name}}</a>
                        <span ng-hide="activeDevice.webPage">{{activeDevice.name}}</span>
                        <small>
                            <em>
                                <a ng-show="activeDevice.model.url" ng-href="{{activeDevice.model.url}}">{{activeDevice.model.name}}</a>
                                <span ng-hide="activeDevice.model.url">{{activeDevice.model.name}}</span>                                
                            </em>
                            by
                            <em>
                                <a ng-show="activeDevice.manufacturer.url" ng-href="{{activeDevice.manufacturer.url}}">{{activeDevice.manufacturer.name}}</a>
                                <span ng-hide="activeDevice.manufacturer.url">{{activeDevice.manufacturer.name}}</span>
                            </em>
                        </small>
                    </h1>
                </div>
            </div>
        </div>
	</div>
</div>