<div class="container-fluid">
    <div class="list-group">
        <a ng-href="#/device/{{device.id}}" class="list-group-item" ng-repeat="device in devices | filter:selectedType | orderBy:device.name" id="{{ device.address }}">
            <span class="media-body">
                <h4 class="list-group-item-heading">{{ device.name }}</h4>
                <p class="list-group-item-text">
                    <em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
                </p>
                <span class="capabilities">
                    <span class="glyphicon glyphicon-headphones" ng-show="device.audioCapable"></span>
                    <span class="glyphicon glyphicon-film" ng-show="device.videoCapable"></span>
                    <span class="glyphicon glyphicon-picture" ng-show="device.imageCapable"></span>
                    <span class="glyphicon glyphicon-blackboard" ng-show="device.mirrorCapable"></span>
                </span>
            </span>
            <span class="media-right media-middle">
                <img class="icon" ng-src="{{ device.icons[0].url }}" />
            </span>
        </a>
    </div>
</div>