<div class="home-container container">
	<h1>Devices on your network <small class="glyphicon glyphicon-refresh" ng-click="refreshDevices()"></small><small class="glyphicon glyphicon-save" ng-click="loadDevices()"></small></h1>
	<div class="list-group home-list">
		<a ng-href="#/device/{{device.id}}" class="list-group-item" ng-repeat="device in devices | filter:selectedType | orderBy:'name'" id="{{ device.id }}">
			<span class="media-body">
				<h4 class="list-group-item-heading">{{ device.name }}</h4>
				<p class="list-group-item-text">
					<em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
				</p>
				<span class="capabilities">
					<span class="glyphicon glyphicon-headphones" ng-show="device.audioCapable"></span>
					<span class="glyphicon glyphicon-film" ng-show="device.videoCapable"></span>
					<span class="glyphicon glyphicon-picture" ng-show="device.imageCapable"></span>
					<span class="glyphicon glyphicon-blackboard" ng-show="device.mirrorCapable"></span>
					<span class="icon-router" ng-show="device.isRouter"></span>
					<span class="fa fa-server" ng-show="device.isServer"></span>
				</span>
			</span>
			<span class="media-right media-middle">
				<img class="icon" ng-src="{{ device.icons[0].url }}" />
			</span>
		</a>
	</div>
</div>