<!DOCTYPE html>
<html ng-app="rotaryApp">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../libs/font-awesome/font-awesome.min.css">
    </head>
    <body ng-controller="DeviceController">
        <div id="header">
            <div id="title">{{ title }}</div>
            Filter By:
            <select ng-model="selectedType">
                <option selected value="">All</option>
                <optgroup label="Devices">
                    <option ng-repeat="deviceType in deviceTypes" ng-value="deviceType.urn">{{deviceType.name}}</option>
                </optgroup>
                <optgroup label="Services">
                    <option ng-repeat="serviceType in serviceTypes" ng-value="serviceType.urn">{{serviceType.name}}</option>
                </optgroup>
            </select>
            <span ng-click="openFocusTab()" class="gear fa fa-lg fa-cog"></span>
        </div>
        <div id="deviceList">
            <div class="device" ng-repeat="device in devices | filter:selectedType | orderBy:device.name" id="{{ device.address }}">
                <img class="icon" ng-src="{{ device.icons[0].url }}" />
                <span class="deviceName">{{ device.name }}</span>
                <span class="gear fa fa-lg fa-cog"></span>
                <div class="moreInfo">
                        <em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
                </div>
                <span class="capabilities">
                    <span ng-show="device.audioCapable" ng-click="showHideAudioPicker(device)" class="capability fa fa-lg fa-music" ng-class="{highlight : device.showAudioPicker}"></span>
                    <span ng-show="device.videoCapable" ng-click="showHideVideoPicker(device)" class="capability fa fa-lg fa-video-camera"  ng-class="{highlight : device.showVideoPicker}"></span>
                    <span ng-show="device.imageCapable" n-click="showHideImagePicker(device)" class="glyphicon glyphicon-picture" ng-class="{highlight : device.showVideoPicker}"></span>
                    <span ng-show="device.mirrorCapable" ng-click="showHideMirrorPicker(device)" class="capability fa fa-lg fa-desktop"  ng-class="{highlight : device.showMirrorPicker}"></span>
                </span>
                <div ng-show="device.showAudioPicker || device.showVideoPicker" class="picker group">
                    <div class="picker-left">
                             Enter a url <br>
                             Choose a file
                    </div>
                    <div class="picker-right">
                        <input class="input-url" type="text">
                        <br />
                        <button class="filePicker" ng-click="pickLocalFile(device)">Browse</button>
                    </div>
                    <div ng-show="device.file">
                        <div style="float:left;width:280px;">{{device.file.name}}</div>
                        <button class="launch" ng-click="launch(device)">Launch</button>
                    </div>
                </div>
                <div ng-show="device.isRunning" class="controls">
                    <div class="slider"></div>
                    <span class="fa fa-lg fa-fast-backward"></span>
                    <span ng-click="executeCommand(device,'play')" class="fa fa-lg fa-play"></span>
                    <span ng-click="executeCommand(device,'pause')" class="fa fa-lg fa-pause"></span>
                    <span class="fa fa-lg fa-fast-forward"></span>
                    <span ng-click="executeCommand(device,'stop')" class="fa fa-lg fa-stop"><i></i></span>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- 320px wide by default -->
<!-- ng-show="device.type.name == 'DIAL Multiscreen'" -->