<!DOCTYPE html>
<html ng-app="rotaryApp">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="tab.css" />
        <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-controller="DeviceController">
        <div class="list-group pull-left">
            <a href="#" ng-click="setActiveDevice(device)" ng-class="{active : device === activeDevice}"  class="list-group-item" ng-repeat="device in devices | filter:selectedType | orderBy:device.name" id="{{ device.address }}">
                <img class="icon pull-left" ng-src="{{ device.icons[0].url }}" />
                <h4 class="list-group-item-heading">{{ device.name }}</h4>
                <p class="list-group-item-text">
                    <em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
                </p>
                <span class="capabilities">
                    <span class="glyphicon glyphicon-headphones" ng-show="device.audioCapable"></span>
                    <span class="glyphicon glyphicon-film" ng-show="device.videoCapable"></span>
                    <span class="glyphicon glyphicon-picture" ng-show="device.imageCapable"></span>
                    <span class="glyphicon glyphicon-blackboard" ng-show="device.mirrorCapable"></span>
                </span>
            </a>
        </div>
        <div class="well container pull-left">
            <div>
                <h1>{{ activeDevice.name }} <small> {{ activeDevice.model.name }} <em>by</em> {{ activeDevice.manufacturer.name }}</small></h1>
                <img class="icon" ng-src="{{ activeDevice.icons[0].url }}" />
            </div>
            <div>
                <div class="row" ng-show="activeDevice.type.name">
                    <div class="col-md-1">Type</div>
                    <div class="col-md-11">
                        {{activeDevice.type.name}}
                        <em ng-show="activeDevice.type.urn">{{activeDevice.type.urn}}</em>
                    </div>
                </div>
                <div class="row" ng-show="activeDevice.address">
                    <div class="col-md-1">Location</div>
                    <a ng-href="{{activeDevice.address}}" class="col-md-11">{{activeDevice.address}}</a>
                </div>
                <div class="row" ng-show="activeDevice.udn">
                    <div class="col-md-1">UDN</div>
                    <div class="col-md-11">{{activeDevice.udn}}</div>
                </div>
                <div class="row" ng-show="activeDevice.upnpVersion">
                    <div class="col-md-1">UPnP</div>
                    <div class="col-md-11">v{{activeDevice.upnpVersion}}</div>
                </div>
                <div class="row" ng-show="activeDevice.webPage">
                    <div class="col-md-1">WebPage</div>
                    <div class="col-md-11">
                        <a ng-href="{{activeDevice.webPage}}">WebPage</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">Capabilities</div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1">
                        <div class="row" ng-show="activeDevice.imageCapable != null">
                            <div class="col-md-1">Image</div>
                            <div class="col-md-11">{{activeDevice.imageCapable}}</div>    
                        </div>
                        <div class="row" ng-show="activeDevice.videoCapable != null">
                            <div class="col-md-1">Video</div>
                            <div class="col-md-11">{{activeDevice.videoCapable}}</div>
                        </div>
                        <div class="row" ng-show="activeDevice.audioCapable != null">
                            <div class="col-md-1">Audio</div>
                            <div class="col-md-11">{{activeDevice.audioCapable}}</div>
                        </div>
                        <div class="row" ng-show="activeDevice.mirrorCapable != null">
                            <div class="col-md-1">Mirror</div>
                            <div class="col-md-11">{{activeDevice.mirrorCapable}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="activeDevice.ssdpDescription">
                    <div class="col-md-2">SSDP Description</div>
                    <a ng-href="{{activeDevice.ssdpDescription}}" class="col-md-10">{{activeDevice.ssdpDescription}}</a>
                </div>
                <div class="row" ng-show="activeDevice.serialNumber">
                    <div class="col-md-2">Serial Number</div>
                    <div class="col-md-10">{{activeDevice.serialNumber}}</div>
                </div>
                <div class="row" ng-show="activeDevice.manufacturer">
                    <div class="col-md-1">Manufacturer</div>
                    <div class="col-md-11">
                        <a ng-show="activeDevice.manufacturer.url" ng-href="{{activeDevice.manufacturer.url}}">{{activeDevice.manufacturer.name}}</a>
                        <span ng-hide="activeDevice.manufacturer.url">{{activeDevice.manufacturer.name}}</span>
                    </div>
                </div>
                <div class="row" ng-show="activeDevice.model">
                    <div class="col-md-1">Model</div>
                    <div class="col-md-11">
                        <a ng-show="activeDevice.model.url" ng-href="{{activeDevice.model.url}}">{{activeDevice.model.name}}</a>
                        <span ng-hide="activeDevice.model.url">{{activeDevice.model.name}}</span>
                    </div>
                </div>
                <div class="row" ng-show="activeDevice.model">
                    <div class="col-md-offset-1">
                        <div class="row" ng-show="activeDevice.model.number">
                            <div class="col-md-1">Number</div>
                            <div class="col-md-11">{{activeDevice.model.number}}</div>
                        </div>
                        <div class="row" ng-show="activeDevice.model.description">
                            <div class="col-md-1">Description</div>
                            <div class="col-md-11">{{activeDevice.model.description}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="activeDevice.services">
                    <div class="col-md-1">Services</div>
                </div>
                <div class="row" ng-show="activeDevice.services">
                    <div class="col-md-offset-1">
                        <span ng-repeat="service in activeDevice.services">
                            <div class="row" ng-show="service.type.name">
                                <div class="col-md-12">{{service.type.name}} <em ng-show="service.type.urn">{{service.type.urn}}</em></div>
                            </div>
                            <div class="row" ng-show="service.scpdUrl || service.controlUrl || service.eventSubUrl">
                                <ul class="col-md-12 list-inline">
                                    <li ng-show="service.scpdUrl"><a ng-href="{{service.scpdUrl}}">Control Point Document</a></li>
                                    <li ng-show="service.controlUrl"><a ng-href="{{service.controlUrl}}">Control</a></li>
                                    <li ng-show="service.eventSubUrl"><a ng-href="{{service.eventSubUrl}}">Event Subscription</a></li>
                                </ul>                                
                            </div>
                            <div class="row" ng-show="service.id">
                                <div class="col-md-1">Id</div>
                                <div class="col-md-11">{{service.id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">&nbsp;</div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="activeDevice.icons">
                    <div class="col-md-1">Icons</div>
                </div>
                <div class="row" ng-show="activeDevice.icons">
                    <div class="col-md-offset-1 col-md-11">
                        <ul class="row list-inline">
                            <li ng-repeat="icon in activeDevice.icons">
                                <img ng-src="{{icon.url}}" />
                                <div class="row" ng-show="icon.mimeType">
                                    <div class="col-md-12">{{icon.mimeType}}</div>
                                </div>
                                <div class="row">
                                    <h5 class="col-md-12">
                                        {{icon.width}}<small>x</small>{{icon.height}}<small>x</small>{{icon.depth}}
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" ng-show="activeDevice.rawDiscoveryInfo" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="{{activeDevice.rawDiscoveryInfo}}">
                            raw discovery info
                        </button>
                        <button type="button" ng-show="activeDevice.rawProtocolInfo" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="{{activeDevice.rawProtocolInfo}}">
                            raw protocol info
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div ng-show="activeDevice.showAudioPicker || activeDevice.showVideoPicker" class="picker group">
                    <div class="picker-left">
                             Enter a url <br />
                             Choose a file
                    </div>
                    <div class="picker-right">
                        <input class="input-url" type="text">
                        <br />
                        <button class="filePicker" ng-click="pickLocalFile(activeDevice)">Browse</button>
                    </div>
                    <div ng-show="activeDevice.file">
                        <div>{{activeDevice.file.name}}</div>
                        <button class="launch" ng-click="launch(activeDevice)">Launch</button>
                    </div>
                </div>
                <div ng-show="activeDevice.isRunning" class="controls">
                        <div class="slider"></div>
                        <span class="glyphicon glyphicon-fast-backward"></span>
                        <span ng-click="executeCommand(activeDevice,'play')" class="glyphicon glyphicon-play"></span>
                        <span ng-click="executeCommand(activeDevice,'pause')" class="glyphicon glyphicon-pause"></span>
                        <span class="glyphicon glyphicon-fast-forward"></span>
                        <span ng-click="executeCommand(activeDevice,'stop')" class="glyphicon glyphicon-stop"><i></i></span>
                    </div>
            </div>
        </div>
        
        <!--
        <script src="tab.js"></script>
        <script src="../libs/angular.js"></script>
        <script src="rotary.js"></script>
        <script src="services/DeviceService.js"></script>
        <script src="controllers/DeviceController.js"></script>
        -->
        
        <script src="../libs/jquery-2.1.3.min.js"></script>
        <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">jQuery(function () {$('[data-toggle="popover"]').popover();/*initialize popovers*/});</script>
    </body>
</html>