<!DOCTYPE html>
<html ng-app="rotaryApp">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="tab.css" />
        <!-- <link rel="stylesheet" href="rotary.css" /> -->
        <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-controller="DeviceController">
        <div class="list-group pull-left">
            <a href="#" ng-click="setActiveDevice(device)" ng-class="{active : device === activeDevice}"  class="list-group-item" ng-repeat="device in devices | filter:selectedType | orderBy:device.name" id="{{ device.address }}">
                <img class="icon pull-left" ng-src="{{ device.icons[0].url }}" />
                <h4 class="list-group-item-heading">{{ device.name }}</h4>
                <p class="list-group-item-text">
                    <em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
                </p>
                <span class="capabilities">
                    <span class="glyphicon glyphicon-headphones" ng-show="device.audioCapable"></span>
                    <span class="glyphicon glyphicon-film" ng-show="device.videoCapable"></span>
                    <span class="glyphicon glyphicon-blackboard" ng-show="device.mirrorCapable"></span>
                </span>
            </a>
        </div>
        <div class="container pull-right">
            <div>
                <h1>{{ activeDevice.name }} <small> {{ activeDevice.model.name }} by {{ activeDevice.manufacturer.name }} at {{activeDevice.address}}</small></h1>
                <img class="icon" ng-src="{{ activeDevice.icons[0].url }}" />
            </div>
            <div>
                <div class="row">
                    <div class="col-md-1">
                        DeviceType
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1">
                        <div class="row">
                            <div class="col-md-1">
                                Name
                            </div>
                            <div class="col-md-11">
                                {{activeDevice.type.name}}
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-1">
                                Urn
                            </div>
                            <div class="col-md-11">
                                {{activeDevice.type.urn}}
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-1">
                        Services
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1">
                        <span ng-repeat="service in activeDevice.services">
                            <div class="row">
                                <div class="col-md-1">
                                    Name
                                </div>                        
                                <div class="col-md-11">
                                    {{service.type.name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    Id
                                </div>
                                <div class="col-md-11">
                                    {{service.id}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    Urn
                                </div>
                                <div class="col-md-11">
                                    {{service.type.urn}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Control Url
                                </div>
                                <div class="col-md-10">
                                    {{service.controlUrl}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Event Subscription Url
                                </div>
                                <div class="col-md-10">
                                    {{service.eventSubUrl}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Service Control Point Document Url
                                </div>
                                <div class="col-md-9">
                                    {{service.scpdUrl}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">&nbsp;</div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        Icons
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1">                
                        <span ng-repeat="icon in activeDevice.icons">
                            <div class="row">
                                <div class="col-md-12">
                                    <img ng-src="{{icon.url}}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    MimeType
                                </div>
                                <div class="col-md-11">
                                    {{icon.mimeType}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    Width
                                </div>
                                <div class="col-md-11">
                                    {{icon.width}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    Height
                                </div>
                                <div class="col-md-11">
                                    {{icon.height}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    Depth
                                </div>
                                <div class="col-md-11">
                                    {{icon.depth}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">&nbsp;</div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        raw response
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-11">
                        {{activeDevice.rawResponse}}
                    </div>
                </div>
            </div>
            <div>
                <div ng-show="activeDevice.showAudioPicker || activeDevice.showVideoPicker" class="picker group">
                    <div class="picker-left">
                             Enter a url <br>
                             Choose a file
                    </div>
                    <div class="picker-right">
                        <input class="input-url" type="text">
                        <br />
                        <button class="filePicker" ng-click="pickLocalFile(activeDevice)">Browse</button>
                    </div>
                    <div ng-show="activeDevice.file">
                        <div>{{activeDevice.file.name}}</div>
                        <button class="launch" ng-click="launch(activeDevice)">Launch</button>
                    </div>
                </div>
                <div ng-show="activeDevice.isRunning" class="controls">
                        <div class="slider"></div>
                        <span class="glyphicon glyphicon-fast-backward"></span>
                        <span ng-click="executeCommand(activeDevice,'play')" class="glyphicon glyphicon-play"></span>
                        <span ng-click="executeCommand(activeDevice,'pause')" class="glyphicon glyphicon-pause"></span>
                        <span class="glyphicon glyphicon-fast-forward"></span>
                        <span ng-click="executeCommand(activeDevice,'stop')" class="glyphicon glyphicon-stop"><i></i></span>
                    </div>
            </div>
        </div>
        
        <script src="tab.js"></script>

        <script src="../libs/angular.js"></script>
        <script src="rotary.js"></script>
        <script src="services/DeviceService.js"></script>
        <script src="directives.js"></script>
        <script src="controllers/DeviceController.js"></script>
        
        
        <script src="../libs/jquery-2.1.3.min.js"></script>
        <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>            
<!--            
            <div id="deviceList">

            </div>
        </div>

<ul id="deviceList">
    <li class="device" ng-repeat="device in devices">
        <div id="{{ device.address.origin }}">
            <span class="deviceName">{{ device.name }}</span>
            <br/>
            <span>Type:</span>
            <span class="deviceType">{{device.type.name}} <span class="typeURN">({{device.type.urn}})</span></span>
            <br/>
            <a ng-hide="device.webPage == null" ng-href="{{device.webPage}}">WebPage</a>
            <br/>
            <span>SerialNumber:</span>
            <span class="deviceSerialNumber">{{device.serialNumber}}</span>
            <br/>
            <div ng-show="device.manufacturer.name != null" class="manufacturer">
                <span>Manufacturer:</span>
                <a ng-show="device.manufacturer.url != null" ng-href="{{device.manufacturer.url.href}}">{{device.manufacturer.name}}</a>
                <span ng-show="device.manufacturer.url == null">{{device.manufacturer.name}}</span>
            </div>
            <span>Model:</span>
            <div class="model">
                <span>Number:</span>
                <span>{{device.model.number}}</span>
                <br/>
                <span>Description:</span>
                <span>{{device.model.description}}</span>
                <br/>
                <span>Name:</span>
                <span>{{device.model.name}}</span>
                <br/>
                <a ng-hide="device.model.url == null" ng-href="{{device.model.url.href}}">url</a>
                <br/>
                <span>udn:</span>
                <span>{{device.model.udn}}</span>
            </div>
           <span>Icons:</span>
            <ul class="icons">
                <li class="icon" ng-repeat="icon in device.icons">
                    <span>MimeType:</span>
                    <span>{{icon.mimeType}}</span>
                    <br/>
                    <span>width:</span>
                    <span>{{icon.width}}</span>
                    <br/>
                    <span>height:</span>
                    <span>{{icon.height}}</span>
                    <br/>
                    <span>depth:</span>
                    <span>{{icon.depth}}</span>
                    <br/>
                    <img ng-src="{{icon.url.href}}"/>
                </li>
            </ul>
            <span>Services:</span>
            <ul class="services">
                <li class="service" id="{{service.id}}" ng-repeat="service in device.services">
                    <span class="serviceType">{{service.type.name}} <span class="typeURN">({{service.type.urn}})</span></span>
                    <a ng-hide="service.controlUrl == null" ng-href="{{service.controlUrl.href}}">Control</a>
                    <a ng-hide="service.eventSubUrl == null" ng-href="{{service.eventSubUrl.href}}">Event Subscription</a>
                    <a ng-hide="service.scpdUrl == null" ng-href="{{service.scpdUrl.href}}">Service Control Protocol Document</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
-->