<!DOCTYPE html>
<html ng-app="Rotary">
<head>
    <meta charset="UTF-8">
    <title>Rotary</title>
    <link href="tab.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="TabController">
<h2 class="header">Devices:</h2>

<ul id="deviceList">
    <li class="device" ng-repeat="device in devices">
        <div id="{{ device.address.origin }}">
            <img ng-src="{{device.icons[0].url.href}}"/>
            <span class="deviceName">{{ device.name }}</span>
            <br/>
            <span>Type:</span>
            <span class="deviceType">{{device.type.name}} <span class="typeURN">({{device.type.urn}})</span></span>
            <br/>
            <a ng-hide="device.webPage == null" ng-href="{{device.webPage}}">WebPage</a>
            <br/>
            <span>SerialNumber:</span>
            <span class="deviceSerialNumber">{{device.serialNumber}}</span>
            <br/>
            <div ng-show="device.manufacturer.name != null" class="manufacturer">
                <span>Manufacturer:</span>
                <a ng-show="device.manufacturer.url != null" ng-href="{{device.manufacturer.url.href}}">{{device.manufacturer.name}}</a>
                <span ng-show="device.manufacturer.url == null">{{device.manufacturer.name}}</span>
            </div>
            <span>Model:</span>
            <div class="model">
                <span>Number:</span>
                <span>{{device.model.number}}</span>
                <br/>
                <span>Description:</span>
                <span>{{device.model.description}}</span>
                <br/>
                <span>Name:</span>
                <span>{{device.model.name}}</span>
                <br/>
                <a ng-hide="device.model.url == null" ng-href="{{device.model.url.href}}">url</a>
                <br/>
                <span>udn:</span>
                <span>{{device.model.udn}}</span>
            </div>
           <!-- <span>Icons:</span>
            <ul class="icons">
                <li class="icon" ng-repeat="icon in device.icons">
                    <span>MimeType:</span>
                    <span>{{icon.mimeType}}</span>
                    <br/>
                    <span>width:</span>
                    <span>{{icon.width}}</span>
                    <br/>
                    <span>height:</span>
                    <span>{{icon.height}}</span>
                    <br/>
                    <span>depth:</span>
                    <span>{{icon.depth}}</span>
                    <br/>
                    <img ng-src="{{icon.url.href}}"/>
                </li>
            </ul> -->
            <span>Services:</span>
            <ul class="services">
                <li class="service" id="{{service.id}}" ng-repeat="service in device.services">
                    <span class="serviceType">{{service.type.name}} <span class="typeURN">({{service.type.urn}})</span></span>
                    <a ng-hide="service.controlUrl == null" ng-href="{{service.controlUrl.href}}">Control</a>
                    <a ng-hide="service.eventsSubUrl == null" ng-href="{{service.eventsSubUrl.href}}">Event Subscription</a>
                    <a ng-hide="service.scpdUrl == null" ng-href="{{service.scpdUrl.href}}">Service Control Protocol Document</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
</body>
</html>