<div class="well">
	<div class="row" ng-show="device.ssdpDescription">
		<div class="col-md-12">
			<a target="_blank" ng-href="{{device.ssdpDescription}}" ng-show="device.ssdpDescription">SSDP Description</a>
		</div>
	</div>
	<div class="row" ng-show="device.icons">
		<h4 class="col-md-1">Icons</h4>
		<div class="col-md-11">
			<ul class="row list-inline">
				<li ng-repeat="icon in device.icons">
					<img ng-src="{{icon.url}}" />
					<div class="row" ng-show="icon.mimeType">
						<div class="col-md-12">{{icon.mimeType}}</div>
					</div>
					<div class="row">
						<h5 class="col-md-12">
							{{icon.width}}<small>x</small>{{icon.height}}<small>x</small>{{icon.depth}}
						</h5>
					</div>
					<div class="row">
						<div class="col-md-12">&nbsp;</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Event Log
			<ul class="list-inline event-log">
				<li ng-repeat="event in eventLog">
					<div>{{event.serviceHash}}</div>
					<div ng-repeat="e in event.events">
						<dl class="dl-horizontal" ng-repeat="(key, value) in e">
							<dt>{{key}}</dt>
							<dd>{{value}}</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" ng-show="device.rawDiscoveryInfo" class="btn btn-default" data-toggle="collapse" data-target="#raw-discovery-info">
				raw discovery info
			</button>
			<button type="button" ng-show="device.protocolInfo._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-protocol-info">
				raw protocol info
			</button>
			<button type="button" ng-show="device.currentConnectionInfo._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-current-connection-info">
				raw current connection info
			</button>
			<button type="button" ng-show="device.mediaInfo._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-media-info">
				raw media info
			</button>
			<button type="button" ng-show="device.transportInfo._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-transport-info">
				raw transport info
			</button>
			<button type="button" ng-show="device.positionInfo._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-position-info">
				raw position info
			</button>
			<button type="button" ng-show="device.deviceCapabilities._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-device-capabilities">
				raw device capabilities
			</button>
			<button type="button" ng-show="device.transportSettings._raw" class="btn btn-default" data-toggle="collapse" data-target="#raw-current-transport-settings">
				raw current transport settings
			</button>
			<div class="collapse" id="raw-discovery-info">{{device.rawDiscoveryInfo}}</div>
			<div class="collapse" id="raw-protocol-info">{{device.protocolInfo._raw}}</div>
			<div class="collapse" id="raw-current-connection-info">{{device.currentConnectionInfo._raw}}</div>
			<div class="collapse" id="raw-media-info">{{device.mediaInfo._raw}}</div>
			<div class="collapse" id="raw-transport-info">{{device.transportInfo._raw}}</div>
			<div class="collapse" id="raw-position-info">{{device.positionInfo._raw}}</div>
			<div class="collapse" id="raw-device-capabilities">{{device.deviceCapabilities._raw}}</div>
			<div class="collapse" id="raw-current-transport-settings">{{device.transportSettings._raw}}</div>
		</div>
	</div>
</div>