<a class="list-group-item col-xs-6 col-sm-6 col-md-4" ng-href="#/device/{{device.id}}" ng-class="{active : device.id === deviceId}" ng-repeat="device in devices | filter:selectedType | orderBy:'name'" id="{{ device.id }}">
	<div class="media-body">
		<h4 class="list-group-item-heading">{{ device.name }}</h4>
		<p class="list-group-item-text">
			<em>{{ device.model.name }}</em> by <em>{{ device.manufacturer.name }}</em>
		</p>
		<span class="capabilities">
			<span class="fa fa-server" ng-show="device.capabilities.server"></span>
			<span class="glyphicon glyphicon-headphones" ng-show="device.capabilities.audio"></span>
			<span class="glyphicon glyphicon-film" ng-show="device.capabilities.video"></span>
			<span class="glyphicon glyphicon-picture" ng-show="device.capabilities.image"></span>
			<span class="glyphicon glyphicon-blackboard" ng-show="device.capabilities.mirror"></span>
			<span class="icon-router" ng-show="device.capabilities.router"></span>
		</span>
	</div>
	<span class="media-right media-middle">
		<img class="icon" ng-src="{{ fetchImageDataUri(device.icons[0].url) }}" />
		<!--<base64-img ng-url="{{ device.icons[0].url }}"/>-->
	</span>
</a>