<div class="well clearfix">
	<div class="container-fluid pull-left">
		<div class="row"><h3 class="col-md-12">Basic Info</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="device.type.name">Type</dt>
					<dd ng-show="device.type.name">{{device.type.name}}</dd>
					<dt ng-show="device.type.urn">Urn</dt>
					<dd ng-show="device.type.urn">{{device.type.urn}}</dd>
					<dt ng-show="device.langauge">Language</dt>
					<dd ng-show="device.langauge">{{device.langauge}}</dd>
					<dt ng-show="device.model.number">Model Number</dt>
					<dd ng-show="device.model.number">{{device.model.number}}</dd>
					<dt ng-show="device.model.description">Model Description</dt>
					<dd ng-show="device.model.description">{{device.model.description}}</dd>
					<dt ng-show="device.timezone">Timezone</dt>
					<dd ng-show="device.timezone">{{device.timezone}}</dd>
					<dt ng-show="currentConnectionIds">Current Connection Ids</dt>
					<dd ng-show="currentConnectionIds">
						<ul class="list-inline">
							<li class="label label-default" ng-repeat="currentConnectionId in currentConnectionIds">
								{{currentConnectionId}}
							</li>
						</ul>
					</dd>
					<dt ng-show="presets">Presets</dt>
					<dd ng-show="presets">
						<ul class="list-inline">
							<li class="label label-default" ng-repeat="preset in presets">
								{{preset}}
							</li>
						</ul>
					</dd>
					<dt ng-show="device.udn">UUID</dt>
					<dd ng-show="device.udn">{{device.udn}}</dd>
					<dt ng-show="device.upnpVersion">UPnP</dt>
					<dd ng-show="device.upnpVersion">v{{device.upnpVersion.major}}.{{device.upnpVersion.minor}}</dd>
					<dt ng-show="device.macAddress">Mac Address</dt>
					<dd ng-show="device.macAddress">{{device.macAddress}}</dd>
					<dt ng-show="device.serialNumber">Serial Number</dt>
					<dd ng-show="device.serialNumber">{{device.serialNumber}}</dd>
					<dt ng-show="device.softwareVersion">Software Version</dt>
					<dd ng-show="device.softwareVersion">{{device.softwareVersion}}</dd>
				</dl>
			</div>
		</div>
	</div> <!-- Basic Info -->
	<div class="container-fluid pull-left" ng-show="currentConnectionInfo">
		<div class="row"><h3 class="col-md-12">Current Connection Info</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="currentConnectionInfo.status">Status</dt>
					<dd ng-show="currentConnectionInfo.status">{{currentconnectionInfo.status}}</dd>
					<dt ng-show="currentConnectionInfo.direction">Direction</dt>
					<dd ng-show="currentConnectionInfo.direction">{{currentconnectionInfo.direction}}</dd>
					<dt ng-show="currentConnectionInfo.peerConnectionId">Peer Connection Id</dt>
					<dd ng-show="currentConnectionInfo.peerConnectionId">{{currentconnectionInfo.peerConnectionId}}</dd>
					<dt ng-show="currentConnectionInfo.peerConnectionManager">Peer Connection Manager</dt>
					<dd ng-show="currentConnectionInfo.peerConnectionManager">{{currentconnectionInfo.peerConnectionManager}}</dd>
					<dt ng-show="currentConnectionInfo.protocolInfo">Protocol Info</dt>
					<dd ng-show="currentConnectionInfo.protocolInfo">{{currentconnectionInfo.protocolInfo}}</dd>
					<dt ng-show="currentConnectionInfo.avTransportId">AV Transport Id</dt>
					<dd ng-show="currentConnectionInfo.avTransportId">{{currentconnectionInfo.avTransportId}}</dd>
					<dt ng-show="currentConnectionInfo.rcsID">RCS Id</dt>
					<dd ng-show="currentConnectionInfo.rcsID">{{currentconnectionInfo.rcsID}}</dd>
				</dl>
			</div>
		</div>
	</div> <!-- currentconnectionInfo-->
	<div class="container-fluid pull-left" ng-show="deviceCapabilities">
		<div class="row"><h3 class="col-md-12">Device Capabilities</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="deviceCapabilities.playMedia">Play Media</dt>
					<dd ng-show="deviceCapabilities.playMedia">
						<ul class="list-inline">
							<li class="label label-default" ng-repeat="mediaType in deviceCapabilities.playMedia">
								{{mediaType}}
							</li>
						</ul>
					</dd>
					<dt ng-show="deviceCapabilities.recMedia">Rec Media</dt>
					<dd ng-show="deviceCapabilities.recMedia">
						<ul class="list-inline">
							<li class="label label-default" ng-repeat="mediaType in deviceCapabilities.recMedia">
								{{mediaType}}
							</li>
						</ul>
					</dd>
					<dt ng-show="deviceCapabilities.recQualityModes">Rec Quality Modes</dt>
					<dd ng-show="deviceCapabilities.recQualityModes">
						<ul class="list-inline">
							<li class="label label-default" ng-repeat="mediaType in deviceCapabilities.recQualityModes">
								{{mediaType}}
							</li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div> <!-- deviceCapabilities -->
	<div class="container-fluid pull-left" ng-show="transportSettings">
		<div class="row"><h3 class="col-md-12">Transport Settings</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="transportSettings.playMode">Play Mode</dt>
					<dd ng-show="transportSettings.playMode">{{transportSettings.playMode}}</dd>
					<dt ng-show="transportSettings.recQualityMode">Rec Quality Mode</dt>
					<dd ng-show="transportSettings.recQualityMode">{{transportSettings.recQualityMode}}</dd>
					<dt ng-show="transportSettings.actions">Actions</dt>
					<dd ng-show="transportSettings.actions">{{transportSettings.actions}}</dd>
				</dl>
			</div>
		</div>
	</div> <!-- transportSettings -->
	<div class="container-fluid pull-left" ng-show="transportInfo">
		<div class="row"><h3 class="col-md-12">Transport Information</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="transportInfo.currentSpeed">Current Speed</dt>
					<dd ng-show="transportInfo.currentSpeed">{{transportInfo.currentSpeed}}</dd>
					<dt ng-show="transportInfo.currentTransportStatus">Current Status</dt>
					<dd ng-show="transportInfo.currentTransportStatus">{{transportInfo.currentTransportStatus}}</dd>
					<dt ng-show="transportInfo.currentTransportState">Current State</dt>
					<dd ng-show="transportInfo.currentTransportState">{{transportInfo.currentTransportState}}</dd>
				</dl>
			</div>
		</div>
	</div> <!-- transportInfo -->
	<div class="container-fluid pull-left" ng-show="mediaInfo">
		<div class="row"><h3 class="col-md-12">Media Information</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="mediaInfo.writeStatus">Write Status</dt>
					<dd ng-show="mediaInfo.writeStatus">{{mediaInfo.writeStatus}}</dd>
					<dt ng-show="mediaInfo.recordMedium">Record Medium</dt>
					<dd ng-show="mediaInfo.recordMedium">{{mediaInfo.recordMedium}}</dd>
					<dt ng-show="mediaInfo.playMedium">Play Medium</dt>
					<dd ng-show="mediaInfo.playMedium">{{mediaInfo.playMedium}}</dd>
					<dt ng-show="mediaInfo.nextURIMetaData">Next URI Meta Data</dt>
					<dd ng-show="mediaInfo.nextURIMetaData">{{mediaInfo.nextURIMetaData}}</dd>
					<dt ng-show="mediaInfo.nextURI">Next URI</dt>
					<dd ng-show="mediaInfo.nextURI">{{mediaInfo.nextURI}}</dd>
					<dt ng-show="mediaInfo.currentURIMetaData">Current URI Meta Data</dt>
					<dd ng-show="mediaInfo.currentURIMetaData">{{mediaInfo.currentURIMetaData}}</dd>
					<dt ng-show="mediaInfo.currentURI">Current URI</dt>
					<dd ng-show="mediaInfo.currentURI">{{mediaInfo.currentURI}}</dd>
					<dt ng-show="mediaInfo.mediaDuration">Duration</dt>
					<dd ng-show="mediaInfo.mediaDuration">{{mediaInfo.mediaDuration}}</dd>
					<dt ng-show="mediaInfo.nrTracks">Number of Tracks</dt>
					<dd ng-show="mediaInfo.nrTracks">{{mediaInfo.nrTracks}}</dd>
				</dl>
			</div>
		</div>
	</div> <!-- mediaInfo -->
	<div class="container-fluid pull-left" ng-show="positionInfo">
		<div class="row"><h3 class="col-md-12">Current Track Information</h3></div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt ng-show="positionInfo.track">Track</dt>
					<dd ng-show="positionInfo.track">{{positionInfo.track}}</dd>
					<dt ng-show="positionInfo.trackDuration">Duration</dt>
					<dd ng-show="positionInfo.trackDuration">{{positionInfo.trackDuration}}</dd>
					<dt ng-show="positionInfo.trackMetaData">Metadata</dt>
					<dd ng-show="positionInfo.trackMetaData">{{positionInfo.trackMetaData}}</dd>
					<dt ng-show="positionInfo.trackURI">URI</dt>
					<dd ng-show="positionInfo.trackURI">{{positionInfo.trackURI}}</dd>
					<dt ng-show="positionInfo.relTime">Relative Time</dt>
					<dd ng-show="positionInfo.relTime">{{positionInfo.relTime}}</dd>
					<dt ng-show="positionInfo.absTime">Absolute Time</dt>
					<dd ng-show="positionInfo.absTime">{{positionInfo.absTime}}</dd>
					<dt ng-show="positionInfo.relCount">Relative Count</dt>
					<dd ng-show="positionInfo.relCount">{{positionInfo.relCount}}</dd>
					<dt ng-show="positionInfo.absCount">Absolute Count</dt>
					<dd ng-show="positionInfo.absCount">{{positionInfo.absCount}}</dd>
				</dl>
			</div>
		</div>
	</div> <!-- positionInfo -->
</div>
