<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">Omniscience</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-content">
				<ul class="nav navbar-nav">
					<li role="presentation" class="active"><a data-target="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
					<li ng-show="hasService('urn:schemas-upnp-org:service:ConnectionManager:1')" role="presentation"><a data-target="#capabilities" aria-controls="capabilities" role="tab" data-toggle="tab">Capabilities</a></li>
					<li role="presentation"><a data-target="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
					<li role="presentation" ng-show="hasService('urn:schemas-upnp-org:service:AVTransport:1')"><a data-target="#playlist" aria-controls="playlist" role="tab" data-toggle="tab">Playlist</a></li>
					<li ng-show="isMatchStick()" role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
					<li role="presentation"><a data-target="#debug" aria-controls="debug" role="tab" data-toggle="tab">Debug</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" role="presentation">
						<a class="dropdown-toggle" data-toggle="dropdown" role="tab" aria-expanded="false">{{device.name}} <span class="caret"></span></a>
						<div class="list-group dropdown-menu" role="menu">
							<device-list></device-list>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<div class="media">
			<div class="media-left media-top">
				<img class="icon" ng-show="device.icons[0].url" ng-src="{{ device.icons[0].url }}" />
			</div>
			<div class="media-body">
				<h1 class="active-device-header">
					<a target="_blank" ng-href="{{device.webPage}}" ng-show="device.webPage">{{device.name}}</a>
					<span ng-hide="device.webPage">{{device.name}}</span>
					<small>
						<em>
							<a target="_blank" ng-show="device.model.url" ng-href="{{device.model.url}}">{{device.model.name}}</a>
							<span ng-hide="device.model.url">{{device.model.name}}</span>
						</em>
						by
						<em>
							<a target="_blank" ng-show="device.manufacturer.url" ng-href="{{device.manufacturer.url}}">{{device.manufacturer.name}}</a>
							<span ng-hide="device.manufacturer.url">{{device.manufacturer.name}}</span>
						</em>
					</small>
				</h1>
			</div>
		</div>
		<div class="tab-content container-fluid">
			<div ng-include="'templates/DeviceInfo.html'" role="tabpanel" class="tab-pane active" id="info"></div>
			<capabilities role="tabpanel" class="tab-pane" id="capabilities" ng-if="hasService('urn:schemas-upnp-org:service:ConnectionManager:1')"></capabilities>
			<div ng-include="'templates/ServiceInfo.html'" role="tabpanel" class="tab-pane" id="services"></div>
			<playlist class="tab-pane" id="playlist" role="tabpanel" ng-if="hasService('urn:schemas-upnp-org:service:AVTransport:1')"></playlist>
			<matchstick-settings role="tabpanel" class="tab-pane" id="settings" ng-if="isMatchStick()"></matchstick-settings>
			<div ng-include="'templates/DebugInfo.html'" role="tabpanel" class="tab-pane" id="debug"></div>
		</div><!-- Tab panes -->
	</div>
	<playback class="clearfix" ng-if="hasService('urn:schemas-upnp-org:service:AVTransport:1')"></playback>
</div>