<div class="well">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" ng-class="{active: $first}" ng-repeat="service in device.services | orderBy: 'type.name'">
			<a data-target="#{{service.hash}}" aria-controls="{{service.type.name}}" role="tab" data-toggle="tab">{{service.type.name}}</a>
		</li>
	</ul>
	<div class="tab-content tab-padding">
		<div ng-repeat="service in device.services | orderBy: 'type.name'" role="tabpanel" ng-class="{active: $first}" class="tab-pane service" id="{{service.hash}}">
			<div class="row" ng-show="service.type.raw">
				<div class="col-md-12">
					<h4 class="service-name">
						<span ng-show="service.type.name" ng-attr-title="{{service.id.raw}}">{{service.type.name}}</span>
						<span ng-show="service.type.version">v{{service.type.version}}</span>
					</h4>
					<span class="label label-primary" ng-show="service.type.isStandard" ng-attr-title="{{service.type.raw}}">Standard</span>
					<span class="label label-info" ng-show="!service.type.isStandard" ng-attr-title="{{service.type.raw}}">Vendor Specific</span>
					<span class="label label-success" ng-show="subscriptions[service.hash]" ng-attr-title="{{subscriptions[service.hash]}}">Subscribed</span>
					<span class="label label-danger" ng-show="!subscriptions[service.hash]">Not Subscribed</span>
				</div>
			</div>
			<div class="row" ng-show="service.scpdUrl || service.controlUrl || service.eventSubUrl">
				<ul class="col-md-12 list-inline">
					<li ng-show="service.scpdUrl"><a target="_blank" ng-href="{{service.scpdUrl}}">Control Point Document</a></li>
					<li ng-show="service.controlUrl"><a target="_blank" ng-href="{{service.controlUrl}}">Control</a></li>
					<li ng-show="service.eventSubUrl"><a target="_blank" ng-href="{{service.eventSubUrl}}">Event Subscription</a></li>
				</ul>
			</div>
			<div class="row" ng-show="service.methods">
				<h3>Methods</h3>
				<ul class="col-md-12 list-inline methods">
					<li class="method" ng-repeat="method in service.methods">
						<h4 ng-click="openModal(service, method)">{{method.name}}</h4>
						(<ul class="list-inline">
							<li class="parameter" ng-repeat="parameter in method.parameters">
								<h5 data-toggle="tooltip" title="{{parameter.backingProperty}}">
									<!--<span>{{parameter.datatype}}</span>-->
									<span>{{parameter.name}}<span ng-hide="$last">,</span></span>
								</h5>
							</li>
						</ul>)
						<div class="return-values" ng-show="method.returnValues.length > 0">
							<span>returns</span>
							<span ng-show="method.returnValues.length > 1">&lt;</span>
							<ul class="list-inline">
								<li class="return-value" ng-repeat="returnValue in method.returnValues">
									<h5 data-toggle="tooltip" title="{{returnValue.backingProperty}}">
										<!--<span>{{returnValue.datatype}}</span>-->
										<span>{{returnValue.name}}<span ng-hide="$last">,</span></span>
									</h5>
								</li>
							</ul>
							<span ng-show="method.returnValues.length > 1">&gt;</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="row properties" ng-show="service.properties">
				<h3>Properties</h3>
				<ul class="col-md-12 list-inline">
					<li class="property" ng-repeat="property in service.properties">
						<span>{{property.datatype}}</span>
						<h4>{{property.name}}</h4>
						<span ng-show="property.sendEvents" class="label label-primary">Evented</span>
						<span ng-show="property.defaultValue" class="label label-default">{{property.defaultValue}}</span>
						<span ng-show="property.allowedValueRange.minimum && property.allowedValueRange.maximum">
							<span>Range</span>
							<span>({{property.allowedValueRange.minimum}} - {{property.allowedValueRange.maximum}})</span>
							<span>increment by {{property.allowedValueRange.step}}</span>
						</span>
						<span class="label label-danger" ng-show="property.allowedValues[0] == 'NOT_IMPLEMENTED'">Not Implemented</span>
						<div class="allowedValues" ng-show="property.allowedValues.length > 0 && property.allowedValues[0] != 'NOT_IMPLEMENTED' ">
							<span>Possible Value<span ng-show="property.allowedValues.length > 1">s</span></span>
							<ul class="list-inline values">
								<li ng-repeat="value in property.allowedValues">
									{{value}}
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>