<ul class="playlist list-group pull-left">
	<li class="playlist-title list-group-item clearfix">
		<span class="pull-left">Playlist</span>
		<span class="glyphicon pull-right" ng-class="{'glyphicon-minus': filePickerisOpen, 'glyphicon-plus': !filePickerisOpen}" ng-click="filePickerisOpen = !filePickerisOpen" data-target="#add-file" data-toggle="collapse" aria-expanded="false" aria-controls="add-file"></span>
	</li>
	<li class="list-group-item no-padding">
		<div class="collapse in" id="add-file">
			<div class="clearfix list-padding">
				<div class="form-group">
					<label>Enter URL</label>
					<div><input class="form-control" type="url" ng-model="filePicker.urlPath" /></div>
				</div>
				<div class="form-group local-file">
					<label>Choose File</label>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="browseLocalFiles()" type="button">Browse</button>
						</span>
						<input type="text" readonly="readonly" ng-value="filePicker.localFileText" title="{{filePicker.paths}}" class="form-control" />
					</div>
				</div>
				<div class="form-group pull-right">
					<button type="button" data-toggle="collapse" data-target="#add-file" class="btn btn-default" ng-click="addToPlaylist(true); filePickerisOpen = false;">Play</button>
					<button type="button" class="btn btn-default" ng-click="addToPlaylist(false)">Add To Playlist</button>
				</div>
			</div>
		</div>
	</li>
	<li ng-class="{active : file === currentTrack.file}" ng-dblclick="play(file)" class="list-group-item playlist-item clearfix" ng-repeat="file in playlist">
		<!--todo: add handle to drag and drop reorder -->
		<h4 class="list-group-item-heading pull-left">{{ file.name }}</h4>
		<button type="button" ng-click="removeFromPlaylist(file)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</li>
	<li class="playlist-footer list-group-item clearfix">
		<button class="btn btn-default pull-left" ng-click="clearPlaylist()">Clear Playlist</button>
		<span class="pull-right glyphicon glyphicon-repeat" ng-click="settings.repeat = !settings.repeat" ng-class="{enabled: settings.repeat}"></span>
		<span class="pull-right glyphicon glyphicon-random" ng-click="randomizePlaylist()"></span>
	</li>
</ul>