.event-log {
	min-height: 50px;
	max-height: 750px;
	overflow: auto;
}

ul.event-log li {
	background: white;
	display: block;
	padding: 5px;
}

.event-log li:hover {
	background-color: aliceblue;
}

.event-log .dl-horizontal {
	margin-bottom: 0;
}

.event-log-service-name {
	font-weight: bold;
	font-size: 16px;
}

#info ul li.label {
	margin-left: 5px;
	position: relative;
	top: -2px;
}