.active-device-header {
	margin-top: 10px;
	margin-left: 5px;
}

.navbar .list-group-item {
	border: none;
}

.navbar .dropdown-menu {
	padding: 0;
}

.nav li, .dropdown-toggle {
	cursor: pointer;
}

.navbar .list-group {
	width: 320px;
}

.tab-padding, .list-padding {
	padding: 10px 15px;
}

.tab-content {
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: transparent #DDD #DDD;
}

.row ul {
	margin-bottom: 0;
}

span.glyphicon:hover, small.glyphicon:hover {
	color: #337AB7;
	font-weight: bold;
	cursor: pointer;
}

.line-break-after::after {
	display: block;
	content: "";
}

div.overflow-show {
	overflow: visible;
}
