.nav .glyphicon-refresh {
	font-size: 21px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 100px;
	margin-top: 13px;
	margin-right: 5px;
}

.home-list {
	display: flex;
	flex-flow: row wrap;
}

.home-container {
	margin: 0 auto;
	max-width: 970px;
}

.home-container h1 {
	text-align: center;
}

.home-list h3 {
	margin: 0 auto;
}

@media (min-width: 550px) and (max-width: 989px) {
	.home-container {
		max-width:640px;
	}
}