.playlist {
	width: 315px;
	padding: 0 15px;
}

	.playlist .playlist-title {
		text-align: center;
		font-size: 22px;
	}

	.playlist .playlist-footer {
		font-size: 22px;
	}

		.playlist .playlist-footer .glyphicon {
			padding: 5px;
		}

	.playlist .playlist-item .close {
		top: 0;
		right: 0;
		position: absolute;
		padding: 5px;
	}

	.playlist .playlist-item {
		word-break: break-all;
	}

	.playlist .local-file input[readonly] {
		cursor: auto;
		background-color: #FFF;
	}

.no-padding {
	padding: 0 !important;
}

.glyphicon.enabled {
	color: #468847;
	font-weight: bold;
}